.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.about-me-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  filter: brightness(0) saturate(100%) invert(93%) sepia(7%) saturate(95%)
    hue-rotate(14deg) brightness(106%) contrast(96%);
}
