.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  background-color: var(--color-chocolate);
}

.navbar-logo {
  width: 40px;
  height: auto;
}

.navbar-left-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  position: relative;
  z-index: 200;
}

.navbar-right-container {
  display: flex;
  align-items: center;
  justify-content: end;
}
