:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Définition des couleurs */
  --color-chocolate: #291F17;
  --color-cream: #F4F3F0;
  --color-blue: #07BAE5;
  --color-dark-blue: #2c4053;

  /* Thème sombre par défaut */
  color-scheme: dark;
  color: var(--color-cream);
  background-color: var(--color-chocolate);
  --accent-color: var(--color-blue);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-chocolate);
    background-color: var(--color-cream);
    --accent-color: var(--color-blue);
  }
}